on:
  pull_request: {}
  workflow_call:

name: Test

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
      - run: corepack enable yarn
        shell: bash
      - name: Show lockfile
        run: ln -s .yarn.lock yarn.lock
        shell: bash
      - uses: actions/setup-node@v3
        with:
          node-version: ^20.4.0
          cache: yarn
          cache-dependency-path: yarn.lock
      - name: Yarn install
        run: yarn install --immutable
      - name: Yarn unit test
        run: yarn workspace @p0security/braekhus test
      - name: Yarn compile
        run: yarn workspace @p0security/braekhus build
