on:
  pull_request: {}
  workflow_call:

name: Test

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
      - run: corepack enable yarn
        shell: bash
        working-directory: ./root
      - uses: actions/setup-node@v3
        with:
          node-version: ^20.4.0
          cache: yarn
          cache-dependency-path: ./root/yarn.lock
      - name: Yarn install
        run: yarn install --immutable
        working-directory: ./root
      - name: Yarn unit test
        run: yarn workspace @p0security/braekhus run test
        working-directory: ./root
      - name: Yarn compile
        run: yarn workspace @p0security/braekhus run build
        working-directory: ./root
